<article class="nspire_file">

  	<section class="nspire_file_info">
	
  		<h2><%= link_to h(nspirefile.title + " - " + nspirefile.category), "../downloads/" + nspirefile.file_url, :confirm => "Do you want to download the file " + nspirefile.title + "?" %></h2>
		<h3>Created by <%= h nspirefile.author %></h3>
		<span><%=h nspirefile.description %></span>
		
	</section>
	
	<%=image_tag "nspire/" + nspirefile.image_url %>
	
</article>

<br class="clearfloat" />
<hr width="920px" />