<h1>More TI-Nspire Resources</h1>
<h2>Tutorials</h2>
<a href="http://www.google.com/url?sa=t&source=web&ct=res&cd=5&url=http%3A%2F%2Fwww.sharinginspiration.org%2Fcontribs%2Fcontrib_1%2Fpart_A%2FProgramming-with-TI-Nspire--final.pdf&ei=OWIgStaKGceLtgf2q4G6Bg&usg=AFQjCNEu4v_dSInSUyITRtX9WYIunc_D_Q&sig2=r2h79MwhSfYI6-bVngnMDw">Brian Olsen's TI-Nspire Programming Tutorial</a><br />
<a href="http://lafacroft.com/tutorials/">Ross' Calculator App Tutorial</a><br />
<a href="http://nelsonsousa.pt/index.php?lang=en&cat=2&subcat=5">Nelson Sousa's TI-Nspire Tips and Tricks</a><br />
<a href="http://www.compasstech.com.au/TNS_Authoring/">Steve Arnold's Advanced User Tutorials</a><br />
<a href="http://covenantchristian.org/bird/TTT/TI-NspireCASprimer.pdf">Sean Bird's TI-Nspire Primer</a><br />
<a href="http://handheldgeometry.co.uk/">Handheld Geometry's TI-Nspire Tutorials</a><br />
<a href="http://movies.atomiclearning.com/k12/ti_nspire/">Atomic Learning TI-Nspire Tutorials</a><br />
<a href="http://tibasicdev.wikidot.com/nspire">TI-BASIC Developer's TI-Nspire Programming Tutorial</a><br /><br />

<h2>Activities, Documents, and Files</h2>
<a href="http://lafacroft.com/?q=node/2">Lafacroft's TI-Nspire Files</a><br />
<a href="http://covenantchristian.org/bird/Nspire.html">Sean Bird's TI-Nspire Resources</a><br />
<a href="http://www.compasstech.com.au/TNSINTRO/TI-NspireCD/index.html">Steve Arnold's TI-Nspire Resources and Tutorials</a><br />
<a href="http://groups.google.com/group/tinspire?hl=en-GB">TI-Nspire Google Group</a><br />
<a href="http://www.johnhanna.us/TI-nspire.htm">John Hanna's TI-Nspire Resources</a><br />
<a href="http://nelsonsousa.pt/index.php?lang=en&cat=2&subcat=0&article=0">Nelson Sousa's TI-Nspire Resources</a><br />
<a href="http://timath.com/">TI Math's TI-Nspire Activities</a><br />
<a href="http://www.tiphysics.com/">TI Physic's TI-Nspire Activities</a><br />
<a href="http://education.ti.com/educationportal/activityexchange/activity_list.do?cid=us">TI's Activity Exchange</a><br />
<a href="http://www.ticalc.org/pub/nspire/basic/">TICalc.org's TI-Nspire File Archive</a><br /><br />

<h2>TI-Nspire Dedicated Websites</h2>
<a href="http://lafacroft.com">Lafacroft - Your TI-Nspire Headquarters</a><br />
<a href="http://nelsonsousa.pt/">Nelson Sousa's TI-Nspire Website</a><br />
<a href="http://covenantchristian.org/bird/Nspire.html">Sean Bird's TI-Nspire Website</a><br />
<a href="http://www.compasstech.com.au/TNSINTRO/TI-NspireCD/index.html">Steve Arnold's TI-Nspire Website</a><br />
<a href="http://groups.google.com/group/tinspire?hl=en-GB">TI-Nspire Google Group</a><br />
<a href="http://www.johnhanna.us/TI-nspire.htm">John Hanna's TI-Nspire Website</a><br />
<a href="http://www.ti-nspire.com/tools/nspire/index.html">TI-Nspire Official Website</a><br />
<a href="http://handheldgeometry.co.uk/">Handheld Geometry</a><br />
<a href="http://hackspire.unsads.com/wiki/index.php/Main_Page">Hackspire</a><br /><br />

<h2>Other Useful Links</h2>
<a href="http://www.brandonmeyer.net/projects/TI8XEmu/TI8XEmu.html">TI-8x Online Emulator</a><br />
<a href="http://www.omnimaga.org">Omnimaga</a><br />
<a href="http://tibank.forumactif.com/">TI-Bank (French website)</a><br />
<a href="http://ti.yaronet.com/">yAronet 68k Forum (French, not TI-Nspire related)</a><br />